*, *::before ,*::after{
    /**makes everhying easier to style*/
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

body{
    /**remove padding and margin*/
    padding:0;
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color:#fbdb5f;
    color:#2c4a6a;
    
   /** background-image:url(/image/minion4.jpg);
   
    background-size:contain;
   
    background-size:1440px 800px;
    background-size:cover;
   background-repeat: no-repeat;*/
 
}



.ans-grid{
    display:grid;
    grid-template-columns: repeat(2,auto);
    gap:10px;
    margin: 20px 0;

}

.btn{
    border:2px solid ;
    padding: 5px 10px;
    color:#2c4a6a;
    font-size: 20px; 
}

.strt,.cont,.try{
    
    border:2px solid ;
    padding: 2px 10px;
    color:#2c4a6a;
    font-size: 15px; 
}

.next-question{
    display: flex;
   
}

#ques-container{
   
   background-color: antiquewhite;
   border-radius:2px solid;
}
.cont,.try{

     
}

